p{
    padding: 0px 4%;
    text-align: justify;
}

.scheduleUploadFile{
    padding: 0px 4%;
    text-align: justify;
}

.divTabIC{
    margin-left: 0%;
    
}

.buttomTab{
    margin-left: 25vw;
    padding: 3px 0px;
}

.buttonOk{
    margin-right: 10px;
}